{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/update.css') }}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="container">
<form action="/submit" method="POST">
    <div id="code_list">
        <h4>Code No.</h4>
    {% for item in code %}
    <input type="text" name="code_no" id="" value={{item}}>
    {%endfor%}
   </div>
   <div id="options">
    <h4>Options</h4>
   <label for="status">Month</label>
    <select name="month" id="month">
        <option value="Apr">Apr</option>
        <option value="May">May</option>
        <option value="Jun">Jun</option>
        <option value="Jul">Jul</option>
        <option value="Aug">Aug</option>
        <option value="Sep">Sep</option>
        <option value="Oct">Oct</option>
        <option value="Nov">Nov</option>
        <option value="Dec">Dec</option>
        <option value="Jan">Jan</option>
        <option value="Feb">Feb</option>
        <option value="Mar">Mar</option>
        <option value="Status">Status</option>
    </select>
   <label for="status" >Status</label>
    <select name="status" id="status">
        <option value="N">N</option>
        <option value="F">F</option>
        <option value="P">P</option>
        <option value="N/A">N/A</option>
    </select>
</div>
<input type="submit" value="Update" id="update_btn">
</form>
</div>
</div>
<script>
  let month = document.getElementById('month')
  let status = document.getElementById('status')
  let btn = document.getElementById('update_btn')
  
  window.onkeydown = function(event){
      
      if (event.key=='f'){
        status.selectedIndex=1
        console.log(status)
      }
      else if (event.key=='p'){
        status.selectedIndex=2
      }
      else if (event.key=='n'){
        status.selectedIndex=0
      }
      else if (event.key=='s'){
        month.selectedIndex=12
      }
      else if (event.key=='Enter'){
        btn.click()
      }
  }
</script>
{% endblock %}